<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Account Recovery | Maayaa Baazaar</title>
		<link rel="stylesheet" href="/stylesheets/logSign.css" />
	</head>
	<body>
		<div class="box-container">
			<div class="box">
				<form method="post" action="/forgotpassword">
					<input
						id="username"
						type="email"
						name="username"
						placeholder="Enter Your Username"
						required
					/>
					<input class="btn" type="submit" value="Reset Password" />
				</form>
				<!-- <p class="alter">Create New Account <a href="/signup">SignUp</a></p> -->
				<div class="error"><% if (error) { %> <%= error %> <% } %></div>
			</div>
		</div>
	</body>
</html>
