<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Maayaa Baazaar</title>
		<link rel="stylesheet" href="/stylesheets/index.css" />
	</head>
	<body>
		<div class="body">
			<header>
				<%-include ("./components/headers/navbar",{login : login, name:name}) %>
			</header>

			<div class="display">
				<%-include ("./products",{login : login, name:name}) %>
			</div>
		</div>
	</body>
</html>
