<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SignUp | Maayaa Baazaar</title>
		<link rel="stylesheet" href="/stylesheets/logSign.css" />
	</head>
	<body>
		<div class="box-container">
			<div class="box">
				<form method="post" action="/login">
					<input
						type="text"
						name="username"
						placeholder="Enter Your Username"
					/>
					<input type="password" name="password" placeholder="Enter password" />
					<input class="btn" type="submit" value="Login" />
				</form>
			</div>
		</div>
	</body>
</html>
