<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SignUp | Maayaa Baazaar</title>
		<link rel="stylesheet" href="/stylesheets/logSign.css" />
	</head>
	<body>
		<div class="box-container">
			<div class="box">
				<form method="post" action="/signup">
					<input type="text" name="name" placeholder="Enter your Name" />
					<input
						id="username"
						type="text"
						name="username"
						placeholder="Enter Your Username"
					/>
					<input
						id="password"
						type="password"
						name="password"
						placeholder="Enter password"
					/>
					<input
						id="mobile"
						type="mobile"
						name="mobile"
						placeholder="Enter your mobile number"
					/>
					<input class="btn" type="submit" value="SignUp" />
				</form>
				<p class="alter">Already Have a Account <a href="/login">Login</a></p>

				<div class="error"><% if (error) { %> <%= error %> <% } %></div>
			</div>
		</div>
	</body>
</html>
