/* Utility Classes */
.btn {
	padding: 5px;
	background-color: rgb(255, 191, 0);
	border: none;
	border-radius: 3px;
	margin: 0.5rem;
	cursor: pointer;
}
.btn a {
	text-decoration: none;
	color: black;
}

.product-img img {
	width: 100px;
	height: 100px;
}
.product-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}
.update-value {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
